html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#stuff {
    display: grid;
    place-items: center;
}

#term, #prompt, #interpret {
    padding: 0.25em;
}

#term, #interpret {
    white-space: nowrap;
    overflow-y: auto;
    margin: 0;
}

#interpret {
    overflow: hidden;
}

#prompt {
    outline: none;
    border: none;
}

#stuff {
    transform: translateY(calc(-50% + 50vh));
}

/* looks and stuff! */

body {
    background-color: #222222;
}

#term {
    height: 40vh;
}

#term, #interpret, #prompt {
    width: 75%;
    font-family: mononoki;
    font-size: 1.25em;
    background-color: #111111;
    color: #eeeeee;
}
