html, body {
    margin:   0;
    padding:  0;
    height:   100vh;
    width:    100vw;
    overflow: hidden;
}

* {
    line-height: 1;
}

#stuff {
    display:     grid;
    place-items: center;
    transform:   translateY(calc(-50% + 50vh));
}

#prompt {
    outline: none;
    border:  none;
}

#interpret {
    white-space:   nowrap;
    overflow:      hidden;
    margin-top:    -1px;
    margin-bottom: -1px;
}

/* stylable */

body {
    background-color: var(--col-body);
}

#prompt {
    padding: var(--padding);
}

#interpret {
    border-right:  var(--padding) solid var(--col-term);
    padding:       var(--padding);
    padding-right: 0;
}

#term {
    height:        0;
    white-space:   normal;
    overflow-x:    hidden;
    overflow-y:    auto;
    margin:        0;
    border-top:    var(--padding) solid var(--col-term);
    padding-left:  var(--padding);
    padding-right: var(--padding);
    padding-bottom: 0;
}

#term::-webkit-scrollbar-thumb {
    background: var(--col-special);
}

#term::-webkit-scrollbar, #term::-webkit-scrollbar-corner {
    background: var(--col-term);
}

::selection {
    background-color: var(--col-special);
}

#term, #interpret, #prompt {
    width:            var(--width);
    font-family:      var(--font);
    font-size:        var(--font-size);
    background-color: var(--col-term);
    color:            var(--col-font);
}

/*
breakpoints for changing height and visibility off the term and stuff
calculate by: height = (5 + 2x) * font-size(px)
where x is the number of rows for the terminal
use 0 to hide interpret and -1 for the prompt.
*/

@media screen and (max-height: 60px)  { #prompt { display: none; } }
@media screen and (max-height: 100px) { #interpret { display: none; } }
@media screen and (max-height: 140px) { #term { display: none; } }

@media screen and (min-height: 140px) { #term { height: 1em } }
@media screen and (min-height: 180px) { #term { height: 2em } }
@media screen and (min-height: 220px) { #term { height: 3em } }
@media screen and (min-height: 260px) { #term { height: 4em } }
@media screen and (min-height: 300px) { #term { height: 5em } }
@media screen and (min-height: 340px) { #term { height: 6em } }
@media screen and (min-height: 380px) { #term { height: 7em } }
@media screen and (min-height: 420px) { #term { height: 8em } }

/* customisation */

:root {
    --width:         70%;
    --font:          mononoki;
    --font-size:     2.5em;
    --padding:       0.25em;
    --col-term:      #3b3228;
    --col-body:      #534636;
    --col-bar:       #645240;
    --col-font:      #e9e1dd;
    --col-special:   #7e705a;
}

#stuff {
    --col-query:     #f4bc87;
    --col-engine:    #beb55b;
    --col-unknown:   #cb6077;
}
